@(deviceTypeForm: Form[DeviceType], deviceTypes: Seq[DeviceType], deviceForm: Form[Device], 
  devices: Seq[Device])

@main("Welcome to SD Ventures") {
      
  Available Device Types:<br />
  <ul>
    @deviceTypes.map { deviceType =>
      <li>@deviceType.name (version: @deviceType.version) with id @deviceType.id.get</li>
      }
  </ul>
  Add a new Device Type:<br />
  @helper.form(action = routes.Application.addDeviceType) {
    @helper.inputText(deviceTypeForm("name"))
    @helper.inputText(deviceTypeForm("version"))
    <input type="submit" />
  }
  Available Devices<br />
  <ul>
    @devices.map { device =>
      <li>Device @device.uuid of type @device.device_type_id registered on @device.registered_at</li>
      }
  </ul>
  Add a new Device<br />
  @helper.form(action = routes.Application.addDevice) {
    @helper.select(deviceForm("device_type_id"), helper.options( deviceTypes.map( _.id.get.toString ).toList ))
    @helper.inputText(deviceForm("uuid"))
    <input type="submit" />
  }
}
