@(deviceTypeForm: Form[String], deviceTypes: Seq[DeviceType],
  deviceForm: Form[Long], devices: Seq[Device])

@main("Welcome to SD Ventures") {
      
  Available Device Types:<br />
  <ul>
    @deviceTypes.map { deviceType =>
      <li>@deviceType.dev_type with id @deviceType.id</li>
      }
  </ul>
  Add a new Device Type:<br />
  @helper.form(action = routes.Application.addDeviceType) {
    @helper.inputText(deviceTypeForm("dev_type"))
    <input type="submit" />
  }
  Available Devices<br />
  <ul>
    @devices.map { device =>
      <li>Device @device.id of type @device.device_type_id registered on @device.registered_at</li>
      }
  </ul>
  Add a new Device<br />
  @helper.form(action = routes.Application.addDevice) {
    @helper.inputText(deviceForm("device_type_id"))
    <input type="submit" />
  }
}
